/**
 * @module          anynews
 * @author          cwsoft, LEPTON project
 * @copyright       cwsoft, LEPTON project
 * @link            https://cms-lab.com
 * @license         https://gnu.org/licenses/gpl-3.0.html
 * @license_terms   please see license
 *
 */

/**
 * Custom CSS to style the flexslider display_output:=5 
*/
div.mod_anynews h2 {
}

div.mod_anynews h3 {
	text-decoration: underline;
	color: green;
}

div.mod_anynews p {
}